/* .box {
    height: 100px;
    width: 100px;
    background-color: rgb(18, 82, 47);
    padding: 20px;
    border: 5px solid red;
    margin: 20px;
}
.box-1 {
    display: block;
}
.box-2 {
    display: inline-block;
}
.box-3 {
    display: inline;
}

.box-4 {
    display: none;
} */

/* 
    * display: block; --> Block All Area >== Next Line
    * display: inline; --> can't add height & Width >== Next Element
    * display: inline-block; --> inline and add height & Width 
*/

/*  ********* Responsive ************* */
/* .box {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    margin: 20px;
}
 */
/* ************** Work In % *************** */
/* .box-1{
    background-color: rgb(18, 82, 47);
    height: 200px;
    width: 200px;
}

.box-1 .innerBox1{
    background-color: rgb(94, 218, 150);
    height: 50%;
    width: 50%
} */
/* 
    * parent এর সাইজ এখানে "200px X 200px" এবং এর চাইল পাচ্ছে ৫০% করে মানে  "100px X 100px"
*/

/* ---------------------------- */
/* .box-2{
    background-color: rgb(18, 82, 47);
    height: 200px;
    width: 200px;
    font-size: 25px;
}

.box-2 .innerBox2{
    background-color: rgb(30 241 219);
    font-size: 2em;
    font-size: 50px;
}

body{
    font-size: 16px;
}
.box-3{
    background-color: rgb(18, 82, 47);
    font-size: 2rem;
    font-size: 1rem;
}

.innerBox3{
font-size: 2rem;
    background-color: rgb(30 241 219);
}
.box-4{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(30 241 219);
    height: 10vh;
    width: 90vw;
}

@media screen {
    
} */


/* Position */

.box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 10px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 200px;
}

.box-1{
    position: static;
}

.box-2{
    position: relative;
    left: 250px;
    top: 10px;
}

.box-3{
    position: absolute;
    top: 20px;
}

.box-4{
    position: fixed;
    left: 20px;
    top: 0;
    background-color: seagreen;
}
